@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
	font-family: 'Golden Age';
	src: url(../assets/font/Golden\ Age.ttf);
}

:root {
	--primary-text-color: #000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}

html::after {
	content: "";
	background: url(../assets/images/bg.png);
	background-repeat: repeat;
	background-size: cover;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -99999;
}

body {
	font-family: "Golden Age";
}

.container {
	padding: 0 100px;
	max-width: 2200px;
	margin: 0 auto;
}

.navbar {
	width: 100%;
	height: 100px;
	margin-top: 16px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar__brand {
	width: 180px;
	height: auto;
}

.navbar .navbar__list {
	width: 30vw;
	min-width: 430px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__list .navbar__item {
	font-size: 1rem;
	font-weight: 400;
	color: var(--primary-text-color);
	text-decoration: none;
	text-transform: uppercase;
}

.navbar__item.item__rounded {
	border: 1px solid #000;
	padding: 12px 33px;
	border-radius: 10px;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
}

.header div:nth-child(1) {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header div:nth-child(1) img {
    width: 50%;
    height: auto;
}

.header div:nth-child(2) {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header div:nth-child(2) p {
    font-size: 6rem;
}
.header div:nth-child(2) li{
    list-style: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px 42px;
    font-size: 1.56rem;
}

.header div:nth-child(2) ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header div:nth-child(2) .daftar {
    width: 100%;
}

.header img {
    width: 20.5vw;
    height: auto;
}

.text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text img {
    width: 90px;
    height: auto;
    animation: scrollDown 1s ease-in infinite;
}

.text :nth-child(2) {
    padding: 50px 0px;    
    letter-spacing: 0.005em;
    font-size: 3rem;
}

.text :nth-child(3) {
    font-size: 2.25rem;
    line-height: 141.2%;
    letter-spacing: 0.015em;
    padding: 50px 0px;
}

@keyframes scrollDown {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

.schedule .header-timeline {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.schedule .schedule-timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 233px;
}

.schedule .schedule-timeline img{
    width: 522px;
    padding-top: 114px;
}

.schedule .circle-red img {
    width: 378px;
    position: absolute;
	height: auto;
	top:1500px;
	right: 0px;
	z-index: -1;
}

.schedule .halfcircle img {
    width: 378px;
    position: absolute;
	height: auto;
	top:1800px;
	left: 0px;
	z-index: -1;
}

.schedule .star-circle img {
    width: 378px;
    position: absolute;
	height: auto;
	top:2500px;
	right: 0px;
	z-index: -1;
}

/* FOOTER */

.footer {
	width: 100%;
	height: 50vh;
	background-color: #D8D8D8;
	display: flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	padding: 0 100px;
    margin-top: 500px;
}

.footer .footer-item {
	width: 30%;
	height: 100%;
}

#footer1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#footer1 .footer-content {
	width: 90%;
	height: 30%;
}

#content1 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#content1 img {
	width: 60%;
}

#content2 {
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.005em;
	text-align: justify;
}

#footer2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-top: 30px;
}

#footer2 ul{
	list-style: none;
}

#footer2 ul li {
	display: flex;
	/* border: 1px solid black; */
	margin-top: 26px;
	align-items: center;
}

#footer2 ul li p{
	letter-spacing: 0.005em;
	font-size: 1.5rem;
	font-weight: 500;
}

#title-contact {
	font-weight: 600;
	font-size: 1.5rem;
	margin: 0 0 40px 0;
}

.footer-item img {
	margin-right: 17px;
}

#footer3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
}

#footer3 ul{
	list-style: none;
}

#footer3 li {
	font-size: 1.5rem;
	margin-top: 86px;
}

#footer3 li:nth-child(2) {
	margin-top: -15px;
}

.marker {
	display: flex;
	justify-content: center;
	background-color: #D8D8D8;
	padding: 138px 20px 20px;
}

.marker p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}

@media (max-width: 987px) {

	.container{
		padding: 0 20px;
		overflow: hidden;
	}

	.header {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	.header div:nth-child(1) {
		width: 100%;
	}

	.header div:nth-child(1) img {
		width: 160px;
		height: auto;
	}

    .header div:nth-child(2){
        width: 100%;
    }

	.header div:nth-child(2) p {
		font-size: 2.8rem;
		padding: 40px 0px;
	}

	.header div:nth-child(2) li{
		list-style: none;
		border: 3px solid black;
		border-radius: 9px;
		padding: 7px 15px;
		font-size: 0.7rem;
		font-weight: 400;
	}

	.text img {
		display: none;
	}

	.text :nth-child(2) {
		padding: 50px 0px;    
		letter-spacing: 0.005em;
		font-size: 1.25rem;
	}

	.text :nth-child(3) {
		text-align: justify;
		font-size: 1rem;
		padding: 30px 0px;
		font-weight: 400;
	}

	.schedule .schedule-timeline img{
		width: 300px;
		padding-top: 64px;
	}

	.schedule .circle-red {
		display: none;
	}

	.schedule .halfcircle {
		display: none;
	}

	.schedule .star-circle {
		display: none;
	}

	.footer {
		margin-top: 0px;
	}
}

