@media screen and (max-width: 1313px) {
	.event__cards {
		padding: 40px;
	}

	.card__item {
		justify-content: flex-start !important;
	}

	.card__item img {
		width: 50%; 
		margin-bottom: 50px;
		margin-top: 75px;
	}

	.card__item:first-child img,
	.card__item:last-child img {
		width: 50%;
	}
}

@media screen and (max-width: 1080px) {
	.navbar .navbar__list {
		width: 45vw;
	}

	.about {
		height: 600px;
	}

	.about .about__bg {
		width: 85%;
	}

	.about .about__container {
		width: 80%;
		margin-top: 200px;
	}

	.about .about__info {
		width: 55%;
	}

	.about__info .info__heading {
		font-size: 2rem;
	}

	.about__info .info__title {
		font-size: 1.3rem;
	}

	.about__info p {
		font-size: .8rem;
	}

	.about__slideshow  {
		margin-left: 15px;
	}

	.item__content h3 {
		font-size: 1.7rem;
	}

	.item__content .btn_event {
		width: 65%;
		height: 42px;
	}

	.item__content a {
		font-size: 1.2rem;
	}

	.event {
		margin-bottom: 800px;
	}

	.card__item:nth-child(1) {
		grid-column: 2 / 4;
	}
	
	.card__item:nth-child(2) {
		grid-column: 4 / 6;
	}
	
	.card__item:nth-child(3) {
		grid-column: 3 / 5;
	}
}

@media screen and (max-width: 900px) {
	.theme {
		height: 700px;
	}
	
	.about {
		margin-top: 400px;
	}

	.activity .activity__list {
		grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-auto-columns: minmax(500px,1fr);
	}

	.activity__item .item__content {
		grid-template-rows: 125px 1fr;
	}

	.activity .activity__el-1 {
		width: 200px;
		right: -20px;
	}

	.activity__item .item__heading {
		font-size: 2rem;
	}

	.item__content .content__title {
		font-size: 1.5rem;
	}

	.timeline .timeline__el-1 {
		width: 300px;
	}

	.timeline .timeline__el-2 {
		width: 140px;
	}

	.timeline .timeline__el-3 {
		width: 300px;
	}

	.footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		justify-items: start;
		align-content: flex-start;
	}

	.footer .footer-item {
		width: 90%;
		margin-top: 60px;

	}

	#footer1 {
		grid-column: 1 / 3;
		flex-direction: row;		
	}

	#content1 {
		justify-content: center;
	}

	#content1 img {
		width: 10rem;
	}

	#footer2 {
		padding-top: 0;
	}
}

@media screen and (max-width: 850px) {
	.about .about__container {
		justify-content: center;
		margin-top: 150px;
	}

	.about .about__info {
		width: 80%;
	}

	.theme .theme__el-2 {
		width: 20%;
    height: auto;
    bottom: 55px;
    right: -50px;
	}

	.about__slideshow {
		display: none;
	}

	.about__info .info__heading {
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	html {
		font-size: 90%;
	}

	.theme-container .theme__text {
		font-size: 2rem;
	}

	.about__info .info__heading {
		font-size: 1.8rem;
	}

	.about__info .info__title {
		font-size: 1.1rem;
		margin-bottom: 10px;
	}

	.about__info p {
		font-size: .7rem;
	}

	.timeline .content__image {
		width: 420px;
		height: 675px;
	}

	.footer {
		padding: 0 10px;
	}

	.marker p {
		font-size: 1rem;
	}

	.card__item:nth-child(1) {
		grid-column: 3 / 5;
	}
	
	.card__item:nth-child(2) {
		grid-column: 3 / 5;
	}
	
	.card__item:nth-child(3) {
		grid-column: 3 / 5;
	}

	/* .item__content h3 {
		font-size: 3.5vw;
	} */

	.event {
		margin-bottom: 1500px;
	}
}

@media screen and (max-width: 650px) {
	.about .about__container {
		margin-top: 130px;
	}
}

@media screen and (max-width: 625px) {
	.navbar__list .navbar__item:first-child,
	.navbar__list .navbar__item:nth-child(1),
	.navbar__list .navbar__item:nth-child(2),
	.navbar__list .navbar__item:nth-child(3),
	.navbar__list .navbar__item:nth-child(4) {
		display: none;
	}

	.navbar .navbar__list {
		justify-content: flex-end;
		min-width: 120px;
	}

	.about .about__bg {
		display: none;
	}

	.about .about__container {
		background: #FFA883;
		border: 3px solid #000000;
		border-radius: 8.07136px;
		padding: 10px;
		filter: drop-shadow(5px 5px 0px black);
		margin-top: 0;
	}

	.about__info .info__title {
		font-size: 1.4rem;
	}

	.about__info p {
		font-size: .9rem;
		margin-top: 30px;
	}

	.theme .theme__el-1 {
    width: 30%;
    bottom: -149px;
    left: -14px;
	}

	.activity .activity__list {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	}

	.activity .activity__el-2 {
		display: none;
	}

	.activity__item .item__content {
		grid-template-columns: repeat(2, 1fr);
	}

	.item__content .content__title {
		font-size: 4vw;
	}

	.item__content .btn-activity {
		font-size: 3.5vw;
	}

	.timeline {
		margin-bottom: 0;
	}

	.timeline .timeline__el-1, 
	.timeline .timeline__el-2, 
	.timeline .timeline__el-3 {
		display: none;
	}

	.theme .theme__doors,
	.theme-scroll {
		display: none;
	}

	
}

@media screen and (max-width: 500px) {
	.timeline .content__image {
		width: 70vw;
		height: auto;
	}

	.theme .theme__el-2 {
		display: none;
	}

	.activity .activity__el-1 {
		right: 0;
		top: 40px;
		width: 160px;
	}

	.footer {
		min-height: 400px;
	}

	#footer1 {
		grid-column: 1 / 3;
		width: 100%;
		justify-content: center;
		padding: 0 5px;
	}

	#footer2 {
		grid-column: 1 / 3;
		align-items: flex-start;
		padding-left: 35px;
	}

	#footer3 {
		width: 100%;
		text-align: center;
		grid-column: 1 / 3;
	}

	#footer3 #title-contact {
		margin-top: -20px;
	}
}

@media screen and (max-width: 390px) {
	.navbar .navbar__brand {
		width: 115px;
	}

	header {
		min-height: 445px;
	}

	.theme {
		height: 385px;
	}

	.theme-container .theme__text {
		font-size: 1.5rem;
	}

	.about {
		height: 430px;
	}

	.about__info .info__heading {
		font-size: 1.6rem;
	}

	.about__info .info__title {
		font-size: 1.1rem;
	}

	.about__info p {
		font-size: 2.5vw;
	}

	.event {
		margin-bottom: 900px;
	}

	.card__item img {
		width: 25%;
    margin-bottom: 20px;
    margin-top: 10px;
		height: 135px;
	}

	.card__item:first-child img,
	.card__item:last-child img {
		width: 35%;
		margin-bottom: 20px;
    margin-top: 10px;
		height: 135px;
	}

	.item__content h3 {
		font-size: 1.3rem;
	}

	.item__content .btn_event {
		width: 54%;
		height: 42px;
	}

	.item__content a {
		font-size: 1rem;
	}

	.event__cards .card__item {
		height: 310px;
	}

	.event__cards {
		grid-template-columns: 1fr;
	}

	.card__item:nth-child(1) {
		grid-column: 1 / 5;
	}
	
	.card__item:nth-child(2) {
		grid-column: 1 / 5;
	}
	
	.card__item:nth-child(3) {
		grid-column: 1 / 5;
	}

	.item__content .btn_event {
		margin-top: 10px;
	}

	.timeline {
		height: 680px;
	}

	.partner h1 {
		font-size: 3rem;
	}

	.partner h2 {
		font-size: 1.2rem;
	}

	.partner__img {
		width: 30vw;
	}

	#content1 img {
		width: 8rem;
	}

	#content2 {
		font-size: .7rem;
	}

	#footer2 ul li p {
		font-size: .8rem;
	}

	#footer3 li {
		font-size: .8rem;
	}
}