@font-face {
	font-family: 'Golden Age';
	src: url(../assets/font/Golden\ Age.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: url(../assets/images/bg.png);
	background-repeat: repeat; 
	background-size: cover;
}

body {
	padding: 0 100px;
	font-family: "Golden Age";
}

@import './responsive.css'