@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
	font-family: 'Golden Age';
	src: url(../assets/font/Golden\ Age.ttf);
}

:root {
	--primary-text-color: #000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html::after {
	content: "";
	background: url(../assets/images/bg.png);
	background-repeat: repeat;
	background-size: cover;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -99999;
}

body {
	font-family: "Golden Age";
	overflow-x: hidden;
}

.container {
	/* padding: 0 100px; */
	max-width: 1500px;
	margin: 0 auto;
}

/** Navbar */

header {
	min-height: 670px;
}

.navbar {
	width: 100%;
	height: 100px;
	margin-top: 16px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar__brand {
	width: 180px;
	height: auto;
}

.navbar .navbar__list {
	width: 40vw;
	min-width: 430px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__list .navbar__item {
	font-size: 1rem;
	font-weight: 400;
	color: var(--primary-text-color);
	text-decoration: none;
	text-transform: uppercase;
}

.navbar__item.item__rounded {
	border: 1px solid #000;
	padding: 12px 33px;
	border-radius: 10px;
}

/** Header **/
.header {
	width: 100%;
	height: calc(100vh - 200px);
	max-height: 830px;
	max-width: 1865px;
	position: relative;
	margin-top: 6px;
}

.header__hero {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	place-items: center;
}

.header__hero .hero-content {
	width: 80%;
	height: auto;
}

.header .scroll__el {
	width: 5vw;
	height: auto;
	display: block;
	margin: -20px auto 0;
	animation: scrollDown 1s ease-in infinite;
}

@keyframes scrollDown {
 from {
	 transform: translateY(-10px);
 }
 to {
	 transform: translateY(10px);
 }
}

/** Section Theme **/

.theme {
	width: 90%;
	height: 1000px;
	position: relative;
	margin: 140px auto 0;
}

.theme .theme__el-1 {
	position: absolute;
	width: 18%;
	height: auto;
	top: 40px;
	left: -90px;
	z-index: -1;
}

.theme .theme__el-2 {
	position: absolute;
	width: 20%;
	height: auto;
	bottom: 55px;
	right: -165px;
	z-index: -1;
}

.theme .theme__doors {
	display: block;
	height: 200px;
	margin: 0 auto;
	position: relative;
}

.theme .theme__el-3 {
	position: absolute;
	width: 40%;
	height: auto;
	left: -90px;
	top: -100px;
}

.theme .theme__el-4 {
	position: absolute;
	width: 40%;
	height: auto;
	right: -110px;
	top: -120px;
}

.theme .theme-container {
	width: 100%;
	height: 100%;
}

.theme-container img {
	width: 100%;
	height: 100%;
	object-fit: contain
}

.theme-container .theme__text {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	width: 80%
}

.theme-scroll {
	width: 500px;
	height: min-content;
	margin: -20px auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: scrollDown 1s ease-in infinite;
}

.theme-scroll .scroll__text {
	width: 100%;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.theme-scroll .scroll__el {
	width: 70px;
	height: auto;
	display: block;
}

/** ABOUT **/

.about {
	margin-top: 500px;
	height: 700px;
	width: 100%;
	position: relative;
}

.about .about__bg {
	position: absolute;
	width: 80%;
	height: auto;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	filter: drop-shadow(15px 15px 0px black);
	z-index: -1;
}

.about .about__el-1 {
	width: 30vw;
	height: auto;
	z-index: -1;
	position: absolute;
	bottom: -10px;
	left: -100px;
}

.about .about__container {
	width: 65%;
	position: absolute;
	margin-top: 225px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__info {
	width: 50%;
}

.about__info .info__heading {
	font-size: 2.2rem;
	margin-bottom: 20px;
	letter-spacing: 0.05em;
	font-weight: 400;
}

.about__info .info__title {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 20px;
}


.about__info p {
	text-align: justify;
	line-height: 22.87px;
	font-weight: 400;
	letter-spacing: 0.015rem;
	font-size: 1rem;
}

.about__slideshow {
	width: 50%;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slideshow__btn {
	width: 35px;
	height: 35px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.slideshow__btn img {
	width: 100%;
	height: 100%;
}

.slideshow__images {
	width: 75%;
	height: 250px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow__images .slideshow__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	animation: displayImage .3s ease;
}

@keyframes displayImage {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/** EVENT **/

.event {
	width: 100%;
	height: 675px;
	text-align: center;
	margin-bottom: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.event__section {
	animation: scrollDown 1s ease-in infinite;
}

.event__section h2 {
	font-weight: 400;
	font-size: 2rem;
	line-height: 114.2%;
	text-align: center;
	margin-top: 3vw;
	text-align: center;
}

.event__section .scroll__el {
	width: 91px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.event__section h3{
	font-size: 2.5rem;
}

.event__cards {
	width: 100%;
	height: 400px;
	display: grid;
	grid-template-columns: repeat(6, 145px);
	grid-gap: 30px;
	align-items: center;
	justify-items: center;
	margin-top: 100px;
}

.event__cards .card__item {
	background: url(../assets/images/bg_card.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	max-width: 410px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card__item:nth-child(1) {
	grid-column: 1 / 3;
}

.card__item:nth-child(2) {
	grid-column: 3 / 5;
}

.card__item:nth-child(3) {
	grid-column: 5 / 7;
}

.card__item img {
	width: 100px;
	height: 175px;
	object-fit: contain;
	margin-bottom: 100px;
}

.card__item:first-child img,
.card__item:last-child img {
	width: 150px;
}

.item__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item__content h3 {
	font-size: 2rem;
}

.item__content a {
	text-decoration: none;
	color: black;
	font-size: 1.6rem;
}

.item__content .btn_event {
	background-color: white;
	width: 70%;
	height: 56px;
	margin-top: 27px;
	border-radius: 20px;
	border: 3px solid #000000;
	display: grid;
	place-items: center;
}

.card__item:nth-child(1) .btn_event:hover {
	background-color: black;
}

.card__item:nth-child(2) .btn_event:hover {
	background-color: #FCA5FA;
}

.card__item:nth-child(3) .btn_event:hover {
	background-color: #00DC72;
}

.card__item .btn_event:hover p {
	color: white;
}

/** Activity Section **/

.activity {
	width: 100%;
	height: 800px;
	position: relative;
	margin-bottom: 100px;
}

.activity .activity__heading {
	font-weight: 400;
	font-size: 2rem;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.activity .activity__el-1 {
	position: absolute;
	width: 300px;
	height: auto;
	top: -50px;
	right: 50px;
	z-index: -20;
}

.activity .activity__el-2 {
	position: absolute;
	width: 350px;
	height: auto;
	bottom: -10px;
	left: -100px;
	z-index: -20;
}

.activity .activity__list {
	width: 100%;
	margin-right: 100px;
	display: grid;
	grid-gap: 16px;
	padding: 16px 6vw;
	grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
	grid-auto-flow: column;
	grid-auto-columns: minmax(600px,1fr);
	overflow-x: auto;
}

.activity__list .activity__item {
	/* width: 700px;
	height: 460px; */
	padding: 30px 40px;
	margin-right: 10px;
	background-image: url(../assets/icon/activity-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	
}

.activity__item .item__heading {
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 30px;
}

.activity__item .item__content {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 200px 1fr;
	grid-row-gap: 20px;
}

.item__content .content__polygon {
	width: 70%;
	height: auto;
	align-self: center;
	justify-self: center;
	
}

.item__content .content__title {
	font-size: 2rem;
	text-align: left;
	justify-self: center;
	line-height: 1.3;
	display: flex;
	align-items: center;
}

.item__content .btn-activity {
	padding: 15px 20px;
	background: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 20px;
	font-family: "Golden Age";
	font-size: 1.4rem;
	grid-column: 2 / -1;
}

/** Timeline **/

.timeline {
	width: 100%;
	height: 1000px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 400px;
}

.timeline .timeline__heading {
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 100px;
}

.timeline .timeline__el-1 {
	width: 400px;
	height: auto;
	position: absolute;
	top: -200px;
	right: -110px;
	z-index: -1;
}

.timeline .content__image {
	display: block;
  max-width: 700px;
  max-height: 1000px;
  width: auto;
  height: auto;

}

.timeline .timeline__el-2 {
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 30%;
	left: -50px;
	z-index: -1;

}

.timeline .timeline__el-3 {
	width: 400px;
	height: auto;
	position: absolute;
	bottom: -200px;
	right: -80px;
	z-index: -1;

}

/* SPONSOR */

.partner {
	height: 500px;
}

.partner h1{
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 63.95px;
	text-align: center;
	margin-top: 86px;
	text-align: center;
}

.partner h2{
	font-size: 1.4rem;
	line-height: 114.2%;
	letter-spacing: 0.05em;
	font-weight: 400;
}

.partner .container {
	text-align: center;
}

/* FOOTER */

.footer {
	width: 100%;
	height: 400px;
	background-color: #D8D8D8;
	display: flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	padding: 0 100px;
}

.footer .footer-item {
	width: 30%;
	height: 100%;
}

#footer1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#footer1 .footer-content {
	width: 90%;
	height: 30%;
}

#content1 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#content1 img {
	width: 60%;
}

#content2 {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.005em;
	text-align: justify;
}

#footer2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

#footer2 ul{
	list-style: none;
}

#footer2 ul li {
	display: flex;
	/* border: 1px solid black; */
	margin-top: 26px;
	align-items: center;
}

#footer2 ul li p{
	letter-spacing: 0.005em;
	font-size: 1rem;
	font-weight: 500;
}

#footer2 ul li img {
	width: 20px;
	height: auto;
}

#title-contact {
	font-weight: 600;
	font-size: 1.5rem;
	margin-top: 86px;
}

.footer-item img {
	margin-right: 17px;
}

#footer3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

#footer3 ul{
	list-style: none;
}

#footer3 li {
	font-size: 1rem;
}

#footer3 #title-contact {
	font-weight: 600;
	font-size: 1.5rem;
	margin-top: 86px;
}

#footer3 li:nth-child(2) {
	margin-top: 15px;
}

.marker {
	display: flex;
	justify-content: center;
	background-color: #D8D8D8;
	padding: 138px 20px 20px;
}

.marker p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}